.Rhistory
Ellie/.DS_Store
.DS_Store
Ellie/figs/.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
Machine Learning Project Proposal.ipynbEllie/.ipynb_checkpoints/
Ellie/catboost_info/
src/catboost_info/
